.maingrid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: yellowgreen;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.griditem{
    background-color: yellow;
    padding: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}