#navbar{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
ul{
    display: flex;
    list-style: none;
    margin-right: 40%;
    gap: 80px;
}
#logo img{
    border-radius: 50px;
    margin-left: 15px;
}
a{
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: rgb(11, 196, 234);
    color: white;
}
*{
    margin: 0px;
    padding: 0px;
}