p{
    /* letter-spacing: 12px; */
    word-spacing: 12px;
    text-indent: 30px;
}
pre{
    line-height: 30px;
}
/* unvisited */
a:link{
    color: red;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: yellow;
}
a:active{
    color: aqua;
}
p:hover{
    background-color: aqua;
}
input:focus{
    color: blue;
}
h1{
    background-color: aqua;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    padding-top: 50px;
    /* padding: 50px 15px; */
    text-align: center;

}
input{
    margin-left: 100px;
}