header{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
}
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
ul{
    display: flex;
    list-style: none;
    margin-right: 40%;
    gap: 80px;
}
main{
    margin: 40px;
}
#logo img{
    border-radius: 50px;
    margin-left: 15px;
}
a{
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: rgb(11, 196, 234);
    color: white;
}
article{
    background-color: gray;
    padding: 40px;
    text-align: center;
}
section{margin-top: 40px;
    background-color: gray;
    padding: 40px;
    text-align: center;
}
footer{
    background-color: gray;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 150px;
    padding: 10px;
}
#list ul{
    display: block;
    text-align: center;
    margin-left: 37%;
    margin-top: 30px;
    line-height: 30px;
}
#list a{
    background-color: inherit;
    color: black;
    border: none;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
i{
    margin-right: 5px;
    color: blue;
}