.maingrid {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  border: 2px solid black;
  padding: 40px;
  background-color: aqua;
}

.grid {
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  background-color: aquamarine;
}

.grid img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

.grid p {
  margin-bottom: 15px;
  font-style: italic;
}

.grid button {
  padding: 6px 14px;
  cursor: pointer;
  color: blue;
  background-color: rgb(238, 255, 0);
}