body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: rgb(116, 219, 12);
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-size: 20px;
     background-color: rgb(3, 247, 247);
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}
a{
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: rgb(4, 214, 247);
    color: rgb(248, 6, 6);
}
button{
    padding:8px 15px;
    background-color:rgb(0, 234, 251);
    border:none;
    border-radius:5px;
    cursor:pointer;
}
#main img{
    width:300px;
    margin:20px auto;
    display:block;
}
#main p{
    font-size:20px;
    color: rgb(0, 0, 0);
    background-color: rgb(8, 237, 35);
}
h1{
    background-color: chartreuse;
}
