h1{
    text-align: center;
    font-size: 70px;
}
p{
    background-color: aqua;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
pre *{
    background-color: yellow;
    font-size: 30px;
}
.lists{
    background-color: bisque;
    font-size: 20px;
    font-style: italic;
}
#header2 {
    color: blue;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}